.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  
    strong,
    span {
      color: gray;
    }
  
    span {
      margin-left: 4px;
    }
  }
  